*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*NAVIGATION*/

#nav{
    position: absolute;
    top: 0;
    width: 100%;
}

#nav ul{
    float: right;
    margin-right: 5%;
    padding-top: 20px;
}

#nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

#nav ul li a{
    text-decoration: none;
    color: #ceadbe;
    font-size: 1.1em;
    font-weight: 300;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    transition: all 800ms;
}

#nav ul li a:hover{
    color: #6B5661;
    background-color: #e1deee;
    box-shadow: 1px 1px 5px #000;
}

/*WELCOME*/

#welcome{
    min-height: 100vh;
    background: radial-gradient(#363244, #161224);
}

#welcome-elements{
    width: 90%;
    padding-top: 25vh;
}

#welcome-img{
    position: absolute;
    width: 60%;
    margin-left: 15%;
    max-width: 600px;
    opacity: 13%;
    animation: 1s ease-out transition_left;
}

#title{
    margin: 120px 0 0 0;
    padding: 0;
    font-size: min(7vw, 5em);
    font-weight: 700;
    line-height: 0.8em;
    color: #fff;
}

#subtitle{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: min(4vw, 2.9em);
    word-spacing: 0.1em;
    color: #ef476f;
}

#title, #subtitle{
    margin-left: 40%;
    position: relative;
    animation: 1s ease-out transition_right;
    text-shadow: 1px 1px 3px #000;
}

@keyframes transition_left {
    from {
        transform: translateX(-100%)
    } to {
        transform: translateX(0%);
    }
}

@keyframes transition_right {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

/*ABOUT*/

#about{
    display: block;
    width: 100%;
    background-color: #e1deee;
}

#about-elements{
    opacity: 0;
    position: relative;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0 120px 0;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    color: #6b5661;
}

#name{
    font-size: 3em;
    color: #ef476f;
    text-shadow: 1px 1px 1px #999;
}

.italic{
    font-style: italic;
}

.gras{
    font-weight: 600;
}

#biographie{
    font-size: 0.9em;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #bbb;
    margin-top: 20px;
}

#competences-titre{
    display: inline-block;
    font-size: 2.3em;
    margin-top: 50px;
    padding: 30px 80px;
    color: #6b5661;
    border-top: 2px solid #fff;
    text-shadow: 1px 1px 1px #fff;
}

#competences-container{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#competences, #notions, #autres{
    flex: 0 0 auto;
    width: 120px;
    background: radial-gradient(#494458, #161224);
    padding: 30px 25px 40px 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #999;
    text-align: start;
}

#competences p, #notions p, #autres p{
    font-size: 1.4em;
    font-weight: 600;
    color: #ef476f;
}

#competences ul li, #notions ul li, #autres ul li{
    list-style-type: none;
    color: #fff;
}


/*PROJETS*/

#projets{
    width: 100%;
    opacity: 0;
    background-color: #fff;
}

#titre-projets{
    margin: 0;
    padding: 50px 0px 20px 0px;
    font-size: 2.5em;
    text-align: center;
    color: #363244;
}

#project-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px 80px 0px;
}

.project-item{
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    margin: 15px 10px;
    padding-bottom: 15px;
    background-color: #e1deee;
    box-shadow: 0 0 5px #ddd;
    color: #363244;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 800ms;
}

.project-item img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-item a{
    text-decoration: none;
    color: #363244;
}

.legende{
    padding-top: 7px;
}

.project-item:hover{
    background-color: #6b5661;
    box-shadow: 1px 1px 10px #999;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.details-container{
    display: none;
    width: 75%;
    opacity: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color:#6B5661;
    color: #e1deee;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
}

.opacity{
    animation: fade-in 1s;
}

@keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fermer-projet-container{
    width: 100%;
    text-align: end;
    margin-bottom: 3px;
}

.fermer-projet{
    font-size: 1.8em;
    font-weight: 200;
    color: #fff;
    margin-right: 10px;
    text-shadow: 0px 0px 5px #363244;
    background-color: transparent;
    border: none;
    transition: all 1s;
}

.fermer-projet:hover{
    transform: rotate(360deg);
    font-weight: 600;
    cursor: pointer;
}

.details-container img{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
}

.titre-projet{
    font-size: 1.8em;
    font-weight: 800;
    color: #fff;
    padding-bottom: 15px;
}

.details-container p, .details-container a{
    width: 80%;
    margin: 0 auto;
}

.details-container a{
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid #ef476f;
    transition: all 1s;
}

.details-container a:hover{
    letter-spacing: 0.1em;
    font-weight: 800;
    border-bottom: 3px solid #ef476f;
}

.small{
    font-size: 0.7em;
    padding-top: 5px;
}


/*CONTACT*/

#contact{
    background: radial-gradient(#363244, #161224);
}

#contact-elements{
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    padding: 70px 0px 150px 0px;
}

#titre-contact{
    font-size: 2em;
    padding-bottom: 10px;
}

#contact-elements img{
    width: 50px;
    padding: 20px 15px;
}

#mail{
    font-size: 1.2em;
    font-weight: 300;
}

#copyright{
    text-align: right;
    color: #fff;
    padding: 20px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.1em;
}


@keyframes apparition{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media screen and (max-width: 950px){
    #about-elements{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    #nav ul li{
        padding: 0px 5px;
    }
    #nav ul li a{
        font-size: 0.8em;
        padding: 10px;
    }
    #title{
        margin-top: 50px;
    }
    #name{
        font-size: 1.8em;
    }
    #about-elements{
        padding: 40px 0 60px 0;
        width: 80%;
    }
    #infos{
        margin-bottom: 30px;
    }
    #biographie{
        font-size: 0.8em;
        margin-top: 7px;
    }
    #competences-titre{
        font-size: 1.7em;
        margin-top: 20px;
        padding: 30px 0px;
    }
    #competences-container{
        flex-flow: column;
        margin-top: 0px;
        gap: 15px;
    } 
    #competences, #notions, #autres{
        padding: 20px 20px 25px 20px;
        width: 110px;
        align-self: center;
    }
    #competences p, #notions p, #autres p{
        font-size: 1.2em;
    }
    
    #competences ul li, #notions ul li, #autres ul li{
        font-size: 0.9em;
    }
    #titre-projets{
        font-size: 1.7em;
        padding-top: 30px;
    }
    #project-container{
        padding: 20px 0 40px 0;
    }
    .fermer-projet{
        font-size: 1.5em;
    }
    .titre-projet{
        font-size: 1.2em;
    }
    .technologies{
        font-size: 0.9em;
    }
    .details-container a{
        font-size: 1.2em;
    }
    #contact-elements{
        padding: 40px 0 60px 0;
    }
    #titre-contact{
        font-size: 1.8em;
    }
    #mail{
        font-size: 1.1em;
    }
}